* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3fc0eb;
}

@keyframes slideright {
    from {
        background-position: 700000%;
    }
    to {
        background-position: 0%;
    }
}


#desert {
    position: absolute;
    background-image: url("/sprites/BG.png");
    height: 390px;
    width: 100%;
    animation: slideright 1400s infinite linear;
    bottom: 20%;
    background-repeat: repeat-x;
    background-size: contain;

}


.obs